<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.agentenv.observer" android:versionCode="1" android:versionName="1"><uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/><application android:label="Agent env observer" android:allowBackup="false"/><instrumentation android:name="dev.agentenv.observer.Observer" android:targetPackage="dev.agentenv.observer" android:functionalTest="true"/></manifest>
